
<!-- 
    <footer class="text-center text-lg-start border-top" >
      <div class="container d-flex justify-content-center py-5"> -->
        <!-- <button type="button" class="btn btn-primary btn-lg btn-floating mx-2" style="background-color: #54456b;">
          <i class="fab fa-facebook-f"></i>
        </button>
        <button type="button" class="btn btn-primary btn-lg btn-floating mx-2" style="background-color: #54456b;">
          <i class="fab fa-youtube"></i>
        </button>
        <button type="button" class="btn btn-primary btn-lg btn-floating mx-2" style="background-color: #54456b;">
          <i class="fab fa-instagram"></i>
        </button>
        <button type="button" class="btn btn-primary btn-lg btn-floating mx-2" style="background-color: #54456b;">
          <i class="fab fa-twitter"></i>
        </button>
      </div>
  
  
      <div class="text-center text-white p-3" style="background-color: rgba(0, 0, 0, 0.2);">
        © 2020 Copyright:
        <a class="text-white" href="https://mdbootstrap.com/">MDBootstrap.com</a>
      </div>

    </footer>
     -->
 
  <!-- End of .container -->


  <footer class="footer text-center border-top p-3">
    <div class="f-info">
      <div class="f-info-socials">
        <i class="fa-brands fa-square-facebook"></i>
        <i class="fa-brands fa-square-youtube"></i>
        <i class="fa-brands fa-square-instagram"></i>
        <i class="fa-brands fa-square-twitter"></i>
      </div>
    <div> &copy; Wanderlust Private Limited</div>
    <div class="f-info-links ">
      <a href="/privacy" class="m-3">Privacy</a>
      <a href="/terms">Terms</a>
    </div>

    </div>
  </footer>